.article-page {
  .banner {
    padding: 2rem 0 2rem 0;

    h1 {
      font-size: 2.8rem;
      font-weight: 600;
    }

    // Set follow/favorite buttons to lower opacity until hovered
    .btn {
      opacity: 0.8;
      &:hover {
        transition: 0.1s all;
        opacity: 1;
      }
    }

    // article page style overrides for metadata
    .article-meta {
      margin: 2rem 0 0 0;

      .author {
        color: #fff;
      }
    }
  }

  // General styles for article content
  .article-content {
    p {
      font-family: "Source Serif Pro", serif;
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 2rem;
      word-wrap: break-word;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500 !important;
      margin: 1.6rem 0 1rem 0;
    }
  }

  .article-actions {
    text-align: center;
    margin: 1.5rem 0 3rem 0;

    .article-meta .info {
      text-align: left;
    }
  }

  .comment-form {
    .card-block {
      padding: 0;

      textarea {
        border: 0px;
        padding: 1.25rem;
      }
    }

    .card-footer {
      .btn {
        font-weight: 700;
        float: right;
      }

      .comment-author-img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
      }
    }
  }

  .card {
    border: 1px solid #e5e5e5;
    box-shadow: none !important;

    .card-footer {
      border-top: 1px solid #e5e5e5;
      box-shadow: none !important;
      font-size: 0.8rem;
      font-weight: 300;
    }
    .comment-author-img {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      border-radius: 2px;
    }
    .comment-author {
      display: inline-block;
      margin-left: 5px;
      vertical-align: middle;
      color: rgb(30, 128, 6);
      font-weight: 500;
    }
    .date-posted {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      color: #555;
    }

    .mod-options {
      float: right;
      color: #333;
      font-size: 1rem;

      span {
        margin-left: 5px;
        background: #fff;
        border: 1px solid #555;
        border-radius: 4px;
        padding: 0.2rem;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
